@import './variables.less';
.header-main {
    position: relative;
    background-color: #3B181E;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}
.burger {
    width: 37px;
    height: 0.5px;
    background-color: #FFFFFF;
}
.burger-wrapper {
    display: flex;
    align-items: center;
}

.burger-title {
    display: none;
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-left: 10px;
}

.burger-menu {
    height: 7px;
    .top {
        transition-timing-function: ease-in-out;
        transition-duration: 0.7s;
        margin-bottom: 6px;    
    }
    .bottom {
        transition-timing-function: ease-in-out;
        transition-duration: 0.7s;    
    }
}

.logo {
    width: 95px;
    height: 30px;
}

@media (min-width: @medium) {
    .header-main {
        position: absolute;
        width: 100%;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.0);
        padding-top: 40px;
    }

}
@media (min-width: @large) {
    .burger-title {
        display: block;
    }
    .logo {
        margin-left: 50px;
    }
    .burger-wrapper {
        margin-right: 50px;
    }
}
@media (min-width: @xl) {
    .logo {
        margin-left: 95px;
    }
    .burger-wrapper {
        margin-right: 95px;
    }
}




