@import "../less/header.less";
@import '../less/main.less';
@import '../less/footer.less';

body {
    margin: 0;
}

button:focus,
button:active {
    outline: none;
}

.wrapper {
    background-color: #3B181E;
    padding: 100px 16px 30px;
}