@import "../less/header.less";
@import '../less/main.less';
@import '../less/footer.less';
@import '../less/pages.less';
@import '../less/menu.less';
@import '../less/welcome.less';
@import '../less/popup.less';
@import '../less/variables.less';
@import '../less/main-slider.less';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: @bg-primary;
}

.not-overflow {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

button:focus,
button:active {
    outline: none;
}

.wrapper {
    
    padding: 100px 16px 30px;
}

.footer-page-wrapper {
    margin-top: 20px;
    padding: 0 15px;
    padding-bottom: 15px;
}



.tablet-visible {
    display: none;
}

.xl-visible {
    display: none;
}

@media (min-width: @medium) {
    .tablet-visible {
        display: block;
    }
}

@media (min-width: @xl) {
    .xl-visible {
        display: block;
    }
}
