@import "./variables.less";

.main {
    .swiper-container {
        width: 100%;
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
    }

    .swiper-pagination {
        position: relative;
        margin-top: 15px;
    }
    
    .swiper-pagination-bullet {
        display: inline-block;
        width: 60px;
        height: 3px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50px;
        transition: all 0.5s ease;
        margin-left: 6px;
        margin-right: px;
    }
    
    .swiper-pagination-bullet-active {
        background: #FFFFFF
    }
    
    .swiper-pagination-bullet:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all 0.5s ease;
    }
    .swiper-pagination-bullet:focus,
    .swiper-pagination-bullet:active {
        outline: none;
    }
    
    @media (min-width: @xl) {
        .swiper-container {
            display: none;
        }
    }
}
