@import "./sizes.less";

.main {
    margin-bottom: 100px;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog-heading {
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: start;

}
.underline {
    display: none;
    width: 85.5px;
    height: 0.5px;
    background-color: white;
}
.catalog-inner {
    width: 288px;
    overflow: hidden;
}
.innner-lists {
    display: flex;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 0.5s ease;
}
.inner-list {
    margin-right: 15px;
}
.inner-list:last-child {
    margin: 0;
}
.inner-list:hover {
    cursor: pointer;
}
.list-item {
    padding: 15px 20px;
    width: 288px;
    height: 392px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.first {
    background-image: url('../../assets/flowers2.jpg');
}
.second {
    background-image: url('../../assets/img-flowers2.jpg');
}
.third {
    background-image: url('../../assets/img-flower3.jpg');
}
.fourth {
    background-image: url("../../assets/img-flower4.png");
}
.list-item-heading {
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.left::before {
    content: "_________";
}
.right::after {
    content: "_________";
}
.list-item-text {
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
    align-self: flex-end;
}
.list-item-button {
    display: none;
    padding: 15px 30px;
    width: 199px;
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #010001;
    background: #FFFFFF;
    transition: all 0.5s ease;
}
.list-item-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.inner-list-controls {
    display: flex;
    justify-content: space-between;
    width: 288px;
    margin-top: 20px;
    .control {
        width: 60px;
        height: 3px;
        background: rgba(255, 255, 255, 0.3);
        border-radius: 50px;
        transition: all 0.5s ease;
    }
    .selected {
        background: #FFFFFF;
    }
}
.control-medium {
    display: none;
    width: 137px;
}
.control:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease;
}
.stock {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
}
.stock-img {
    width: 288px;
    height: 170px;
}
.stock-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 288px;
}
.stock-inner-heading {
    font-family: 'Forum';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 170%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 150px;
}
.stock-inner-underline {
    width: 85.5px;
    height: 0.5px;
    background-color: #FFFFFF;;
}
.stock-inner-text {
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 170%;
    color: #FFFFFF;
}
.stock-inner-button {
    width: 220px;
    padding: 15px 30px;
    background: #010001;
    font-family: 'Forum', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin-top: 30px;
    transition: all 0.2s ease;
}
.stock-inner-button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

@media (min-width:@for-heading) {
    .catalog-heading {
        align-self: center;
    }
}    

@media (min-width:@medium) {
    .catalog-heading {
        font-size: 30px;
        line-height: 33px;
    }
    .underline {
        display: block;
        margin-bottom: 20px;
    }
    .catalog-inner {
        width: 680px;
    }
    .list-item {
        width: 330px;
        height: 450px
    } 
    .control-mobile {
        display: none;
    }
    .control-medium {
        display: flex;
    }
    .stock-inner {
        align-items: center;
        width: 453px;
    }
    .stock-img {
        width: 453px;
        height: 323px;
    }
    .stock-inner-heading {
        width: auto;
        font-size: 30px;
        line-height: 170%;
    }
}

@media (min-width:@large) {
    .main {
        margin-bottom: 150px;
    }
    .stock-img {
        width: 697px;
        height: 410px;
    }
    .stock-inner-text {
        font-size: 18px;
    }
    
}

@media (min-width:@xl) {
    .catalog-inner {
        width: 1375px;
    }
    .underline {
        margin-bottom: 100px;
    }
    .control-medium {
        display: none;
    }
    .stock {
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 150px;
    }
    .stock-inner {
        align-items: flex-start;
    } 
}

