@import './variables.less';

.main-page {
    position: relative;
    background-color: @bg-primary;
}
.header-page {
    background-color: @bg-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.welcome-picture {
    width: 100%;
    height: 443px;
}

.party {
    background-image: url('../../assets/event-m.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bride {
    background-image: url('../../assets/Mask Group.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.composition {
    background-image: url('../../assets/m2-ei-m.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.activity {
    background-image: url('../../assets/m3-ei-m.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.page-inner {
    display: flex;
    flex-direction: column;
    background-color: @bg-primary; 
    padding: 30px 16px 30px;
    box-sizing: border-box;
    position: relative;
}
.page-inner-description {
    max-width: 600px;
}
.description-heading {
    font-family: 'Forum',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.description-text {
    font-family: 'Forum',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 30px;
    
}
.description-button {
    width: 119px;
    padding: 15px 30px;
    font-family: 'Forum',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.0);
    border: 2px solid #FFFFFF;
    margin-top: 30px;
    transition: all 0.3s ease;
}
.description-button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s ease;
}
.portfolio-wrapper {
    position: relative;
}
.portfolio-photos {
    margin-top: 50px;
    position: relative;   
}

.photo-list-img {
    width: 75px;
    height: 75px;
}
.portfolio-button {
    display: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    transition: all 0.5s ease;
}
.portfolio-button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s ease;
}
.arrow-left {
    top: 105px;
    left: -60px;
}
.arrow-right {
    top: 105px;
    right: -50px;
}
.link-profile {
    display: none;
    position: absolute;
    bottom: 40px;
    right: 40px;
}
.link-profile-text {
    font-family: 'Forum',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
}
.link-profile-text:hover {
    text-decoration: underline;
}
.link-profile-social {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    transition: all 0.5s ease;
}
.link-profile-social:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s ease;
}

@media (min-width:@medium) {
    .welcome-picture {
        height: 518px;
    }
    .party {
        background-image: url('../../assets/map-case.png');
    }
    .bride {
        background-image: url('../../assets/m1-event-dt.jpg');
    }
    .composition {
        background-image: url('../../assets/m2-img-dt.jpg');
    }
    .activity {
        background-image: url('../../assets/m3-ei-d.jpg');
    }
    .page-inner {
        flex-direction: column-reverse;
        align-items: center;
    }
    .description-heading {
        font-size: 40px;
        line-height: 44px;
    }
    .description-text {
        font-size: 20px;
        line-height: 120%;
    }
    .description-button {
        width: 170px;
    }
    .portfolio-photos {
        width: 620px;
    }
    .photo-list-img {
        width: 145px;
        height: 145px;
    }
    .portfolio-button {
        display: block;
    }
}
@media (min-width:@large) {
   .party {
       background-image: url('../../assets/event-dt.jpg');
   }
}

@media (min-width:@xl) {
    .main-page {
        display: flex;
    }
    .header-page {
        position: absolute;
        background: rgba(0, 0, 0, 0.0);
        width: 100%;
        padding-top: 87px;
        padding-left: 95px;
        top: 0;
        left: 0;
        z-index: 100;
        box-sizing: border-box;
    }
    .welcome-picture {
        width: 50%;
        height: 100vh;
    }
    .page-inner {
        padding: 0px 245px 0px 84px;
        width: 50%;
    }
    .description-heading {
        margin-top: 250px;
        font-size: 50px;
        line-height: 55px;
    }
    .page-inner {
        flex-direction: column;
        align-items: flex-start;
    }
   
    .footer-page-wrapper {
        display: none;
    }
    .arrow-left {
        top:80px;
    }
    .arrow-right {
        top: 80px;
    }
    .link-profile {
        display: flex;
    }
}    


